body{background: black}
#rainbowWheel{
    width: 280vw;
    height: 260vw;
    animation: spin 50s linear infinite;
    left: -18%;
    position: fixed;
    bottom: -180%;
    filter: blur(18px);
}
@keyframes spin{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
#leftBlackBlocker{height: 100%;width: 2px;left: 0px;top: 0px;}#rightBlackBlocker{right: 0px;height: 100%;width: 50%;top: 0px;}#topBlackBlocker{top: 0px;right: 0px;width: 100%;height: 10%;}#bottomBlackBlocker{bottom: 0px;left: 0px;height: 0px;width: 100%;}.blackBlocker{background: black;position: fixed;}

#imageTile1,#imageTile1_old{bottom: 0px;right: 400px;}
#imageTile2,#imageTile2_old{bottom: 1000px;right: 1000px;}
#imageTile3,#imageTile3_old{bottom: 1000px;right: 1000px;}
#imageTile4,#imageTile4_old{right: 170px;bottom:240x;}
#imageTile5,#imageTile5_old{right: 225px;bottom: 240px;}
#imageTile6,#imageTile6_old{right: 40px;bottom: 465px;}
#imageTile7,#imageTile7_old{right: 40px;bottom: 240px;}
.imageTile{background: white;width: 800px;height: 225px;position: fixed;transform: rotate(-90deg);}
.tileImg{width: 100%;height: 100%}
#img1{}
#img2{}
#img3{}
#img4{}
#img5{}
#img6{}
#img7{}